@media (max-width: 640px) {
  .loadout-persona-section {
    margin-top: auto !important;
  }

  .loadout-description-section {
    margin-top: auto !important;
  }

  .loadout-match-section {
    margin-top: 0 !important;
  }
}

@media (max-height: 720px) and (max-width: 640px) {
  .loadout-persona-section {
    margin-top: auto !important;
  }

  .loadout-description-section {
    margin-top: auto !important;
  }

  .loadout-match-section {
    margin-top: 0 !important;
  }
}